<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>

</head>

<body>
    <%- include('partials/navigations')%>
        <div class="container my-4">
            <div class="row">
                <div class="col">
                    <p class="fs-3 border border-secondary">
                        Our team is made up of talented individuals who are passionate about what they do. We have
                        experts in engineering, design, marketing, and customer service. Together, we work tirelessly to
                        create products that are not only functional but also beautiful.

                        We believe that everyone deserves access to the best products and services, regardless of their
                        budget. That's why we strive to make our products affordable without sacrificing quality. We
                        want to make a positive impact on people's lives, and we believe that starts with making our
                        products accessible to as many people as possible.

                        We're just getting started, and we have big plans for the future. We can't wait to share our
                        journey with you and make a difference in the world together. Thank you for taking the time to
                        visit our webpage.
                    </p>
                </div>
            </div>
        </div>
        

                    <%- include('partials/footers')%>
</body>

</html>