<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/navigations')%>
        <div class="container my-4">
            <div class="row">
                <div class="col">
                    <h1>Entrepreneur</h1>
                    <h3>Make your dreams come true</h3>
                    <p>Welcome to our startup's webpage! We're excited to introduce ourselves and share our mission with
                        you.

                        At our startup, we're all about innovation and pushing boundaries. We believe in creating
                        products and services that make a difference in people's lives. We're dedicated to making the
                        world a better place by using technology to solve real-world problems.
                    </p>
                    <figure class="text-end">
                        <blockquote class="blockquote">
                            <p>Revolutionizing entrepreneurship through innovative technology, to make a positive impact
                                on society.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            TrailBlaze team
                        </figcaption>
                    </figure>
                </div>
                <div class="col">
                    <div class="container">
                        <img src="img/features2.png" class="rounded-top border border-5">

                    </div>
                </div>
            </div>
            <footer>
                <div>
                    <button type="button" class="btn btn-dark">Learn More</button>
                    <button type="button" class="btn btn-outline-dark">Watch Video</button>
                </div>
            </footer>

            <%- include('partials/footers')%>
</body>

</html>